body
{
	background-color: #777;
	font-family:symbol;
}
#bodyWrapper
{
	width:95%;
	margin:auto;
}
#headerWrapper
{
	position:fixed;
	top:0px;
	left:0px;
	height:40px;
	width:100%;
	background-color:rgba(0, 0, 0, 0.45);
	color: #fff;
	z-index:10;
}

#contentWrapper
{

color: #fff;
margin-top: 40px;
width: 100%;
text-align:center;
position:relative;
}

#footerWrapper
{
	position:fixed;
	bottom:0px;
	left:0px;
	//height:60px;
	width:100%;
	background-color:rgba(0, 0, 0, 0.45);
	color: #fff;
	z-index:10;
}

#headerContent
{
	//width:800px;
	margin:auto;
}

#footerContent
{
	//width:800px;
	margin:auto;
}

#contentLeft
{
	float:left;
	width:25%;
	position:absolute;
	padding-bottom:30px
}

#contentRight
{
	//float:right;
	margin-left:26%;
	position:absolute;
	padding-bottom:30px;
	width:74%;
}

.glowBoxGold
{
margin-top: 20px;
margin-bottom: 20px;
border: 1px solid black;
border-radius: 5px;
background-color: goldenrod;
box-shadow: 2px 2px 120px 0px white;	
}

.glowBoxNavy
{
width: 71%;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 20px;
padding: 20px;
box-shadow: 0px 0px 130px 0px white;
border-radius: 70px;
background-color: rgb(46, 74, 100);
}

.boxNavy
{
width: 71%;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 20px;
padding: 20px;
border-radius: 70px;
background-color: rgb(46, 74, 100);
}

.glowBoxBlue
{
margin-top: 20px;
margin-bottom: 20px;
border: 30px solid rgb(37, 104, 156);
border-radius: 40px;
background-color: rgb(88, 161, 228);
box-shadow: 2px 2px 120px 0px white;
}

.boxBlue
{
margin-top: 20px;
margin-bottom: 20px;
border: 30px solid rgb(37, 104, 156);
border-radius: 40px;
background-color: rgb(88, 161, 228);
}

.roundInputBox
{
width: 85%;
border: 0px solid black;
border-radius: 15px;
height: 30px;
padding: 0px 10px;
color:black;
text-align:center;
}

button
{
border: 0px solid black;
border-radius: 15px;
height: 30px;
padding: 0px 10px;
color: black;
text-align: center;
box-shadow: 2px 3px 12px 0px;
}
button:hover
{
border: 1px solid black;
}
button:active
{
box-shadow:0px 0px 0px 0px;
}

#loginPanel
{
margin-top:50px;
padding-top:1em;
}

a
{
color:whitesmoke;
}
a:hover
{
color:blue;
}


.right
{
float:right;
}
.left
{
float:left;
}

.headingText
{
font-size:24px;
font-weight:bold;
}

