body
{
	background-color: #777;
}
#bodyWrapper
{
	width:95%;
	margin:auto;
}
#headerWrapper
{
	position:fixed;
	top:0px;
	left:0px;
	height:40px;
	width:100%;
	background-color:#555;
	color: #fff;
	z-index:10;
}

#contentWrapper
{

color: #fff;
margin-top: 40px;
width: 100%;
text-align:center;
position:relative;
	
}

#footerWrapper
{
	position:fixed;
	bottom:0px;
	left:0px;
	//height:60px;
	width:100%;
	background-color:#555;
	color: #fff;
	z-index:10;
}

#headerContent
{
	width:800px;
	margin:auto;
}

#footerContent
{
	width:800px;
	margin:auto;
}

#contentLeft
{
	float:left;
	width:25%;
	position:absolute;	
}

#contentRight
{
	//float:right;
	margin-left:26%;
	position:absolute;
}

#loginPanel
{
margin-top: 50px;
border: 1px solid black;
border-radius: 5px;
background-color: goldenrod;
box-shadow: 2px 2px 120px 0px white;	
}

#descriptionPanel
{
width: 71%;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
margin-bottom: 10px;
padding: 20px;
box-shadow: 0px 0px 130px 0px white;
border-radius: 70px;
}

#loginUserNameBox,#loginPasswordBox
{
width:85%;
}
